.largerdiv {
    width: 100%;
    border: 1px;
    overflow: hidden;
}

.choosedatediv {
    width: 50%;
    padding: 20px;
    float:left;
}

.addshiftdiv {
    width: 50%;
    padding: 20px;
    float:right;
}

.calendardiv {
    width: 80%;
    padding: 20px;
    float:right;
    max-height: 700px;
}

.navigatordiv {
    width: 220px;
    padding: 20px;
    float:left;
}

@media screen and (max-width: 1100px) {
    .navigatordiv {
        float:none;
    }
    .calendardiv {
        float:none;
        width: 100%;
    }
}

.centereddiv {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}