
.largerdiv {
    width: 100%;
    border: 1px;
    overflow: hidden;
}

.leftcontainerdiv {
    width: 50%;
    padding: 5px;
    float: left;
}

.rightcontainerdiv {
    width: 50%;
    padding: 5px;
    float:right;
}

.editshiftdiv {
    width: 100%;
    padding: 20px;
    float:left;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    height: 100%;
}

.addshiftdiv {
    width: 100%;
    padding: 20px;
    float:left;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    height: 100%;
}

.removeshiftdiv {
    width: 100%;
    padding: 20px;
    float: left;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    height: 100%
}

.deleteshiftdiv {
    width: 100%;
    padding: 20px;
    float: left;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    height: 100%;
}

.optionsContainerDiv {
    height: auto;
}

.calendardiv {
    width: 80%;
    padding: 20px;
    float:right;
    max-height: 700px;
}

.navigatordiv {
    width: 220px;
    padding: 20px;
    float:left;
}

@media screen and (max-width: 1100px) {
    .navigatordiv {
        float:none;
    }
    .calendardiv {
        float:none;
        width: 100%;
    }
}

.centereddiv {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.box {
  background-color: inherit;
  padding: 1px;
  margin-bottom: 1px; 
  color: white;
}
