.largerdiv {
    width: 100%;
    border: 1px;
    overflow: hidden;
}

.calendardiv {
    width: 85%;
    padding: 20px;
    float:right;
    max-height: 700px;
}

.navigatordiv {
    width: 15%;
    padding: 20px;
    float:left;
}